---

---

<section class="container">
    <div class="p-0 m-0 text-center lg:text-left">
        <h1
            class="xl:text-6xl lg:text-5x1 md:text-4x1 text-3xl font-bold items-center"
        >
            <span class=" pb-4 text-titleName">Pau Ortega</span>
        </h1>
    </div>

    <div class="flex lg:grid p-0 m-0 text-center lg:text-left lg:items-start justify-center lg:justify-start pr-4 items-center lg:pr-0 lg:mx-0 ">        
        <h2
            class="font-bold md:text-4xl text-1xl mx-auto flex mt-6 lg:mt-12 h-[12vh] md:h-[14vh] lg:h-[16vh] xl:h-[20vh]"
        >
            <span
                class="pt-4 mt-10 bg-gradient-to-br from-white via-titleName to-titleName bg-clip-text text-transparent bg-[length:200%_auto] animate-gradient"
            >
                FullStack | Mobile | Blockchain
            </span>
        </h2>
    </div>
</section>
