---
---
   
<!-- component -->
        <div class="container m-auto">
            <h2 class="text-center text-3xl xl:text-5xl lg:text-4xl pb-24 text-nav">
                Mis <span class="text-titleName">Clientes</span>
            </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 py-10">
            <article class="w-full text-gray-700 shadow-shadowimg hover:border-titleName hover:border hover:shadow-shadowcard rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
                <a href="https://isiotechvalencia.com" target="_blank">
                    <picture class="mb-8">
                        <img class="object-center object-cover rounded-full h-36 w-36" src="/img/Webp/Isiotechvalencia-Cliente.webp" alt="isiotechvalencia" width="100%" height="100%">
                    </picture>
                    <div class="text-center">
                        <p class="text-xl text-titleName font-bold mb-2">IsiotechValencia</p>
                        <p class="text-base text-gray-400 font-normal"></p>
                        
                    </div>                    
                </a>
            </article>
            <article class="w-full text-gray-700 shadow-shadowimg hover:shadow-shadowcard hover:border-titleName hover:border rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
                <a href="https://enerwatia.es" target="_blank">
                    <picture class="mb-8">
                        <img class="object-center h-36 w36" src="/img/Webp/Enerwatia.webp" alt="enerwatia" width="100%" height="100%">
                    </picture>
                    <div class="text-center ">
                        <p class="text-xl  text-titleName font-bold mb-2">Enerwatia</p>
                        <p class="text-base text-gray-400 font-normal"></p>
                    </div>
                </a>
            </article>
            <div class="w-full text-gray-700 shadow-shadowimg hover:shadow-shadowcard hover:border-titleName hover:border rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
                <a href="https://millionsilver.com" target="_blank">
                    <div class="mb-8 m-auto">
                        <img class="object-center object-cover rounded-full h-36 w-36" src="/img/Webp/MS.webp" alt="millionsilver" width="100%" height="100%">
                    </div>
                    <div class="text-center">
                        <p class="text-xl text-titleName font-bold mb-2">Million Silver</p>
                        <p class="text-base text-gray-400 font-normal"></p>
                    </div>
                </a>
            </div>
        </div>
    <style>
        p {
            font-family: "AlegreyaBold";
        }
        @font-face {
            font-family: "AlegreyaBold";
            src: url("/fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
            display: swap;
        }
    </style>
