---

---


    <div class="container">
        <h2 class="text-center text-3xl lg:text-4xl xl:text-5xl pb-24 text-nav">
            <span class="text-titleName">+5</span> Años de experiencia
        </h2>
    </div>
    <!-- component -->
    <div class="container bg-body mx-auto w-full h-full">
        <div class="relative wrap overflow-hidden p-10 h-full">
            <div
                class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border lg:left-1/2 xl:left-1/2"
                
            >
            </div>
            <!-- right timeline -->
            <div
                class="mb-8 flex justify-between items-center w-full right-timeline"
            >
                <div class="order-1 mx-1 lg:w-5/12 xl:w-5/12"></div>
                <div
                    class="z-20 hidden lg:flex xl:flex items-center order-1 bg-titleName shadow-xl w-8 h-8 rounded-full"
                >
                    <h1 class="mx-auto font-semibold text-lg text-white">21</h1>
                </div>
                <div
                    class="order-1 text-gray-700 rounded-lg shadow-shadowimg lg:w-5/12 xl:w-5/12 px-6 py-4 hover:shadow-shadowcard mx-auto lg:mx-0 xl:mx-0"
                >
                    <h3 class="mb-3 font-bold text-white text-xl">
                        Desarrollador Full Stack (2016-2021)
                    </h3>
                    <sub class="text-sm tracking-wide text-slate-400">
                        Valenciana de productos eléctricos SL (Picanya, España)
                    </sub>
                    <details
                        class="text-md leading-snug tracking-wide text-slate-300 text-opacity-100 pb-6 pt-2"
                    >
                        <summary class="text-white cursor-pointer">Experiencia</summary>
                        <p class="">
                            Creación de proyectos en Java(J2EE) con diferentes
                            IDEs (NetBeans y Elipse). <br /> Realización de
                            aplicaciones web de estadística con informes (PDF,
                            XLSX, TXT). <br /> Utilización de servidores web en
                            remoto, EC2, Windows server. <br /> Base de datos en
                            Firebird y MariaDB. <br /> Creación de aplicaciones
                            en Android con Android Studio. <br /> Vistas creadas
                            con JSP utilizando JavaScript, jQuery. <br />
                            Utilización de frameworks como spring, hibernate y
                            bootstrap. <br /> Control de versiones Git y SV. <br
                            /> Creación aplicaciones en PHP y Symfony con
                            nodejs, npm y yarn.
                        </p>
                    </details>

                    <div
                        class="grid grid-cols-4 mx-2 gap-2 gap-y-8 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 pb-2 pt-2"
                    >
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="36"
                                height="36"
                                viewBox="0 0 128 128"
                                ><path
                                    fill="#0074BD"
                                    d="M52.581 67.817s-3.284 1.911 2.341 2.557c6.814.778 10.297.666 17.805-.753c0 0 1.979 1.237 4.735 2.309c-16.836 7.213-38.104-.418-24.881-4.113zm-2.059-9.415s-3.684 2.729 1.945 3.311c7.28.751 13.027.813 22.979-1.103c0 0 1.373 1.396 3.536 2.157c-20.352 5.954-43.021.469-28.46-4.365z"
                                ></path><path
                                    fill="#EA2D2E"
                                    d="M67.865 42.431c4.151 4.778-1.088 9.074-1.088 9.074s10.533-5.437 5.696-12.248c-4.519-6.349-7.982-9.502 10.771-20.378c.001 0-29.438 7.35-15.379 23.552z"
                                ></path><path
                                    fill="#0074BD"
                                    d="M90.132 74.781s2.432 2.005-2.678 3.555c-9.716 2.943-40.444 3.831-48.979.117c-3.066-1.335 2.687-3.187 4.496-3.576c1.887-.409 2.965-.334 2.965-.334c-3.412-2.403-22.055 4.719-9.469 6.762c34.324 5.563 62.567-2.506 53.665-6.524zm-35.97-26.134s-15.629 3.713-5.534 5.063c4.264.57 12.758.439 20.676-.225c6.469-.543 12.961-1.704 12.961-1.704s-2.279.978-3.93 2.104c-15.874 4.175-46.533 2.23-37.706-2.038c7.463-3.611 13.533-3.2 13.533-3.2zM82.2 64.317c16.135-8.382 8.674-16.438 3.467-15.353c-1.273.266-1.845.496-1.845.496s.475-.744 1.378-1.063c10.302-3.62 18.223 10.681-3.322 16.345c0 0 .247-.224.322-.425z"
                                ></path><path
                                    fill="#EA2D2E"
                                    d="M72.474 1.313s8.935 8.939-8.476 22.682c-13.962 11.027-3.184 17.313-.006 24.498c-8.15-7.354-14.128-13.828-10.118-19.852c5.889-8.842 22.204-13.131 18.6-27.328z"
                                ></path><path
                                    fill="#0074BD"
                                    d="M55.749 87.039c15.484.99 39.269-.551 39.832-7.878c0 0-1.082 2.777-12.799 4.981c-13.218 2.488-29.523 2.199-39.191.603c0 0 1.98 1.64 12.158 2.294z"
                                ></path><path
                                    fill="#EA2D2E"
                                    d="M94.866 100.181h-.472v-.264h1.27v.264h-.47v1.317h-.329l.001-1.317zm2.535.066h-.006l-.468 1.251h-.216l-.465-1.251h-.005v1.251h-.312v-1.581h.457l.431 1.119l.432-1.119h.454v1.581h-.302v-1.251zm-44.19 14.79c-1.46 1.266-3.004 1.978-4.391 1.978c-1.974 0-3.045-1.186-3.045-3.085c0-2.055 1.146-3.56 5.738-3.56h1.697v4.667h.001zm4.031 4.548v-14.077c0-3.599-2.053-5.973-6.997-5.973c-2.886 0-5.416.714-7.473 1.622l.592 2.493c1.62-.595 3.715-1.147 5.771-1.147c2.85 0 4.075 1.147 4.075 3.521v1.779h-1.424c-6.921 0-10.044 2.685-10.044 6.723c0 3.479 2.058 5.456 5.933 5.456c2.49 0 4.351-1.028 6.088-2.533l.316 2.137h3.163v-.001zm13.452 0h-5.027l-6.051-19.689h4.391l3.756 12.099l.835 3.635c1.896-5.258 3.24-10.596 3.912-15.733h4.271c-1.143 6.481-3.203 13.598-6.087 19.688zm19.288-4.548c-1.465 1.266-3.01 1.978-4.392 1.978c-1.976 0-3.046-1.186-3.046-3.085c0-2.055 1.149-3.56 5.736-3.56h1.701v4.667h.001zm4.033 4.548v-14.077c0-3.599-2.059-5.973-6.999-5.973c-2.889 0-5.418.714-7.475 1.622l.593 2.493c1.62-.595 3.718-1.147 5.774-1.147c2.846 0 4.074 1.147 4.074 3.521v1.779h-1.424c-6.923 0-10.045 2.685-10.045 6.723c0 3.479 2.056 5.456 5.93 5.456c2.491 0 4.349-1.028 6.091-2.533l.318 2.137h3.163v-.001zm-56.693 3.346c-1.147 1.679-3.005 3.008-5.037 3.757l-1.989-2.345c1.547-.794 2.872-2.075 3.489-3.269c.532-1.063.753-2.43.753-5.701V92.891h4.284v22.173c0 4.375-.348 6.144-1.5 7.867z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 256 256"
                                ><path
                                    fill="#6DB33F"
                                    d="M38.944 35.879c50.58-48.999 131.454-47.682 180.453 3.161c5.532-7.376 10.274-15.542 13.699-23.972c16.07 48.999 25.817 90.095 22.128 121.97c-1.844 26.87-12.381 52.687-29.768 73.235c-45.31 53.741-125.922 60.59-179.663 15.28l-1.028-.915l-.055-.036a12.24 12.24 0 0 1-.498-.367c-.49-.381-.935-.796-1.336-1.24l-.144-.164l-1.68-1.493c-1.64-1.405-3.279-2.81-4.733-4.4l-.536-.606c-49-50.58-47.419-131.454 3.16-180.453ZM57.91 207.376c-4.742-3.688-11.591-3.162-15.28 1.58c-3.242 4.17-3.226 9.969.049 13.815l.052.06l2.033 1.807l.2.136c4.604 3.028 10.8 2.402 14.333-1.878l.194-.241c3.688-4.742 2.898-11.591-1.58-15.28ZM231.78 28.239c-13.173 27.661-45.84 48.736-74.027 55.322c-26.607 6.322-49.79 1.054-74.289 10.537c-55.848 21.339-54.794 87.724-24.236 102.74l1.844 1.054s22.074-4.389 43.902-10.185l1.87-.5c8.718-2.35 17.295-4.91 24.302-7.492c36.354-13.435 76.397-46.628 89.568-85.09c-6.849 40.042-41.359 78.767-75.87 96.418c-18.44 9.483-32.665 11.59-62.96 22.128c-3.688 1.317-6.586 2.635-6.586 2.635l1.108-.15l.736-.095l.733-.092c6.69-.83 12.702-1.244 12.702-1.244c42.94-2.108 110.38 12.118 141.729-29.768c32.139-42.677 14.225-111.697-.527-156.218Z"
                                ></path><path
                                    fill="#FFF"
                                    d="M57.911 207.376c4.479 3.688 5.269 10.537 1.58 15.279c-3.687 4.742-10.537 5.269-15.279 1.58c-4.741-3.688-5.268-10.537-1.58-15.279c3.688-4.742 10.537-5.268 15.28-1.58ZM231.78 28.239c14.752 44.521 32.666 113.541.527 156.218c-31.35 41.886-98.789 27.66-141.729 29.768c0 0-6.012.415-12.702 1.244l-.733.092c-.612.078-1.228.16-1.844.245c0 0 2.898-1.318 6.586-2.635c30.295-10.537 44.52-12.645 62.96-22.128c34.511-17.65 69.021-56.376 75.87-96.418c-13.171 38.462-53.214 71.655-89.568 85.09c-25.026 9.22-70.074 18.177-70.074 18.177l-1.844-1.054c-30.558-15.016-31.612-81.401 24.236-102.74c24.5-9.483 47.682-4.215 74.29-10.537c28.187-6.586 60.853-27.66 74.025-55.322Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32.59375"
                                viewBox="0 0 256 267"
                                ><path
                                    fill="#59666C"
                                    d="m153.671 178.933l-.932 2.757l49.137 83.342l2.781 1.968L256 178.22l-51.342-89.137l-50.986 89.85ZM50.273.304L0 89.084l52.234 89.849l49.738-89.85l-.134-3.63L52.565 2.11L50.273.304Z"
                                ></path><path
                                    fill="#BCAE79"
                                    d="m50.273.304l51.7 88.78h102.684L152.601.304H50.273Zm1.961 178.629L102.864 267h101.793l-50.986-88.067H52.234Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                ><path
                                    fill="#f5de19"
                                    d="M18.774 19.7a3.727 3.727 0 0 0 3.376 2.078c1.418 0 2.324-.709 2.324-1.688c0-1.173-.931-1.589-2.491-2.272l-.856-.367c-2.469-1.052-4.11-2.37-4.11-5.156c0-2.567 1.956-4.52 5.012-4.52A5.058 5.058 0 0 1 26.9 10.52l-2.665 1.711a2.327 2.327 0 0 0-2.2-1.467a1.489 1.489 0 0 0-1.638 1.467c0 1.027.636 1.442 2.1 2.078l.856.366c2.908 1.247 4.549 2.518 4.549 5.376c0 3.081-2.42 4.769-5.671 4.769a6.575 6.575 0 0 1-6.236-3.5ZM6.686 20c.538.954 1.027 1.76 2.2 1.76c1.124 0 1.834-.44 1.834-2.15V7.975h3.422v11.683c0 3.543-2.078 5.156-5.11 5.156A5.312 5.312 0 0 1 3.9 21.688Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 128 128"
                                ><path
                                    fill="#ffffff"
                                    d="m47.961 79.02l.193.094l.344.166c.439.209.882.416 1.329.615l.281.125c.513.225 1.029.439 1.551.645l.378.148c.482.188.972.37 1.463.543l.184.063c.539.188 1.083.363 1.632.534l.395.117c.558.169 1.109.37 1.685.477c36.554 6.665 47.171-21.967 47.171-21.967c-8.918 11.618-24.747 14.683-39.745 11.271c-.568-.128-1.12-.306-1.674-.47l-.417-.126a51.381 51.381 0 0 1-1.612-.524l-.221-.08a51.147 51.147 0 0 1-1.421-.527l-.398-.156a43.031 43.031 0 0 1-1.534-.638l-.307-.136a61.098 61.098 0 0 1-1.294-.602l-.375-.18c-.336-.164-.669-.339-1.001-.51l-.668-.35a37.935 37.935 0 0 1-1.199-.673l-.405-.226a58.779 58.779 0 0 1-1.563-.958l-.421-.28a41.205 41.205 0 0 1-1.112-.739l-.358-.252c-.354-.25-.704-.503-1.051-.76l-.466-.353a47.401 47.401 0 0 1-.948-.74l-.423-.34a62.157 62.157 0 0 1-1.182-.995l-.129-.109A49.53 49.53 0 0 1 43.399 60l-.35-.337c-.303-.287-.6-.577-.893-.874l-.35-.35a49.681 49.681 0 0 1-1.095-1.158l-.054-.058a44.217 44.217 0 0 1-1.111-1.264l-.291-.346c-.27-.325-.538-.655-.799-.988l-.293-.364a53.218 53.218 0 0 1-.923-1.229c-8.326-11.358-11.318-27.023-4.663-39.888l-5.899 7.482c-7.559 10.863-6.617 24.997-.844 36.541l.423.821l.271.52l.168.299l.301.539c.179.316.362.63.55.944l.315.519c.208.336.421.668.64 1l.272.422c.301.448.609.896.926 1.336l.027.035l.156.211c.275.379.558.753.844 1.123l.318.404c.255.321.516.641.78.959l.298.355c.355.419.717.835 1.087 1.242l.022.023l.042.046c.36.394.73.778 1.104 1.164l.354.357c.29.292.584.579.882.865l.361.343c.397.374.798.741 1.208 1.101l.02.015l.21.18c.361.312.729.623 1.099.928l.455.362c.302.242.608.481.916.716l.489.372c.34.25.682.496 1.027.737l.375.266l.103.073c.328.226.663.442.998.659l.432.288c.513.325 1.035.646 1.562.956l.432.244c.388.223.777.442 1.172.656l.648.336l.84.437zm3.693-36.795c.819 1.174 1.726 2.57 2.813 3.514c.394.434.806.856 1.226 1.273l.324.318c.409.396.824.785 1.252 1.164l.052.044l.012.013c.475.416.965.816 1.463 1.21l.333.26c.5.383 1.009.759 1.531 1.118l.045.033l.698.46l.332.22c.373.238.75.472 1.135.694l.16.093c.331.191.667.379 1.003.561l.356.187l.702.363l.106.048c.482.237.968.465 1.464.682l.323.133c.396.168.797.333 1.199.487l.514.188c.366.136.732.26 1.102.383l.499.16c.526.163 1.045.369 1.593.46c28.222 4.677 34.738-17.054 34.738-17.054c-5.874 8.459-17.248 12.494-29.386 9.344a33.73 33.73 0 0 1-1.598-.462l-.481-.155c-.375-.121-.748-.25-1.118-.385l-.504-.188a39.777 39.777 0 0 1-1.204-.485l-.324-.138a32.331 32.331 0 0 1-1.472-.685l-.739-.376l-.426-.219c-.314-.17-.626-.348-.934-.527l-.223-.127a35.907 35.907 0 0 1-1.132-.689l-.341-.229l-.732-.484a37.97 37.97 0 0 1-1.525-1.115l-.343-.271c-5.313-4.193-9.524-9.927-11.527-16.428c-2.098-6.74-1.646-14.308 1.989-20.449l-4.466 6.306c-5.466 7.865-5.169 18.396-.905 26.715a34.709 34.709 0 0 0 2.416 4.035zm29.747-9.731l.701.243l.309.098c.333.104.662.226 1.005.29c15.583 3.011 19.811-7.997 20.936-9.617c-3.703 5.331-9.925 6.61-17.56 4.757a19.346 19.346 0 0 1-1.848-.57a22.91 22.91 0 0 1-2.193-.91a22.678 22.678 0 0 1-3.846-2.347c-6.832-5.185-11.076-15.072-6.618-23.126l-2.412 3.324c-3.222 4.743-3.539 10.633-1.303 15.869c2.358 5.56 7.19 9.92 12.829 11.989zM66.359 96.295h-4.226a.556.556 0 0 0-.517.417l-1.5 6.94l-1.5 6.94a.554.554 0 0 1-.516.417h-2.991c-2.959 0-2.617-2.047-2.011-4.851l.018-.085l.066-.354l.012-.066l.135-.72l.145-.771l.154-.785l.682-3.332l.683-3.332a.336.336 0 0 0-.341-.419h-4.337a.55.55 0 0 0-.514.418l-.933 4.424l-.932 4.425l-.002.006l-.086.412c-1.074 4.903-.79 9.58 5.048 9.727l.17.003h9.163a.554.554 0 0 0 .516-.417l1.976-9.289l1.976-9.29c.049-.23-.103-.417-.338-.418zm-45.256-.049h-4.64a.562.562 0 0 0-.521.416l-.44 1.942l-.44 1.942c-.051.229.098.416.333.416h4.676a.556.556 0 0 0 .518-.417l.425-1.941l.425-1.941c.049-.229-.101-.417-.336-.417zm-1.346 6.044H15.08a.563.563 0 0 0-.521.416l-.657 2.91l-.656 2.909l-.183.834l-.631 2.97l-.63 2.971c-.049.229-.15.599-.225.821c0 0-.874 2.6-2.343 2.57l-.184-.004l-1.271-.023h-.001a.558.558 0 0 0-.524.407l-.485 2.039l-.484 2.038c-.055.228.093.416.326.42c.833.01 2.699.031 3.828.031c3.669 0 5.604-2.033 6.843-7.883l1.451-6.714l1.361-6.297c.049-.227-.103-.415-.337-.415zm86.117-1.574l-.194-.801l-.191-.82l-.097-.414c-.38-1.477-1.495-2.328-3.917-2.328l-3.77-.004l-3.472-.005h-3.907a.552.552 0 0 0-.515.417l-.173.816l-.204.964l-.057.271l-1.759 8.24l-1.67 7.822c-.05.23-.066.512-.038.626c.028.115.479.209.713.209h3.524c.235 0 .532-.042.66-.094s.317-.513.364-.742l.626-3.099l.627-3.1l.001-.005l.084-.413l.76-3.56l.671-3.144a.555.555 0 0 1 .515-.417l11.089-.005c.235.002.383-.185.33-.414zm14.275-7.24l-.854.003h-3.549a.904.904 0 0 0-.667.353l-7.849 11.498c-.132.194-.283.166-.335-.062l-.578-2.533a.562.562 0 0 0-.522-.416h-5.045c-.235 0-.374.184-.31.409l2.261 7.921c.064.226.069.596.011.824l-.985 3.833c-.059.228.085.413.32.413h4.987a.58.58 0 0 0 .532-.413l.986-3.833a2.52 2.52 0 0 1 .363-.755l12.742-16.911c.142-.188.065-.341-.169-.339l-1.339.008zm-40.086 9.919v-.004a.514.514 0 0 1-.499.441h-6.397c-.222 0-.334-.15-.301-.336l.006-.015l-.004.002l.003-.021l.029-.109c.611-1.624 1.855-2.69 4.194-2.69c2.634-.001 3.148 1.285 2.969 2.732zm-1.877-7.384c-8.211 0-10.157 4.984-11.249 10.015c-1.091 5.128-.998 9.921 7.5 9.921h1.03l.256-.001h.06l1.02-.003h.018c2.244-.009 4.495-.026 5.406-.033a.553.553 0 0 0 .509-.42l.344-1.681l.067-.327l.41-2.006a.335.335 0 0 0-.341-.418h-7.639c-3.039 0-3.941-.807-3.608-3.181H84.18l-.001.001l.008-.001a.503.503 0 0 0 .445-.315l.029-.106l-.001.001c1.813-6.839 1.293-11.445-6.474-11.446zm-38.81 7.358l-.116.409v.001l-.922 3.268l-.922 3.267a.596.596 0 0 1-.543.411h-4.88c-3.702 0-4.604-2.896-3.702-7.166c.901-4.368 2.668-7.083 6.312-7.358c4.98-.376 5.976 3.126 4.773 7.168zm3.348 7.105s2.301-5.588 2.823-8.814c.713-4.319-1.45-10.585-9.804-10.585c-8.306 0-11.914 5.981-13.29 12.484c-1.376 6.55.427 12.293 8.686 12.246l6.516-.024l6.089-.022a.59.59 0 0 0 .534-.414l1.061-4.046c.059-.228-.084-.414-.319-.416l-1.017-.006l-1.017-.006c-.199-.001-.313-.131-.289-.302l.027-.095zm41.12-3.741a.28.28 0 1 1-.56.001a.28.28 0 0 1 .56-.001z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 48 48"
                                ><path
                                    fill="#7CB342"
                                    d="M12 29.001a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0v9zm28 0a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0v9zM22 40a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0v9zm8 0a2 2 0 0 1-4 0v-9a2 2 0 0 1 4 0v9z"
                                ></path><path
                                    fill="#7CB342"
                                    d="M14 18.001V33a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V18.001H14zM24 8c-6 0-9.655 3.645-10 8h20c-.346-4.355-4-8-10-8zm-4 5.598a1 1 0 1 1 0-2a1 1 0 0 1 0 2zm8 0a1 1 0 1 1 0-2a1 1 0 0 1 0 2z"
                                ></path><path
                                    fill="none"
                                    stroke="#7CB342"
                                    stroke-linecap="round"
                                    stroke-width="2"
                                    d="m30 7l-1.666 2.499M18 7l1.333 2.082"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="21.25"
                                viewBox="0 0 256 170"
                                ><path
                                    fill="#002B64"
                                    d="M250.383.004c-3.957.127-2.706 1.267-11.255 3.37c-8.632 2.125-19.178 1.474-28.474 5.372c-27.75 11.639-33.319 51.417-58.547 65.666c-18.858 10.652-37.883 11.501-54.988 16.861c-11.241 3.525-23.538 10.754-33.723 19.53c-7.905 6.816-8.111 12.808-16.371 21.355c-8.836 9.143-35.115.155-47.025 14.148c3.837 3.879 5.519 4.966 13.08 3.96c-1.566 2.966-10.793 5.466-8.987 9.831c1.9 4.593 24.21 7.706 44.489-4.538c9.444-5.702 16.967-13.92 31.676-15.882c19.034-2.537 40.96 1.627 62.996 4.805c-3.268 9.742-9.827 16.22-15.082 23.979c-1.627 1.753 3.268 1.949 8.853.89c10.047-2.484 17.287-4.485 24.87-8.898c9.314-5.423 10.726-19.325 22.155-22.333c6.368 9.787 23.687 12.1 34.434 4.27c-9.43-2.669-12.036-22.741-8.853-31.586c3.015-8.373 5.994-21.766 9.031-32.833c3.26-11.886 4.463-26.867 8.408-32.922c5.937-9.109 12.496-12.237 18.19-17.374c5.695-5.136 10.907-10.136 10.736-21.89C255.94 2 253.983-.11 250.383.005Z"
                                ></path><path
                                    fill="#C49A6C"
                                    d="M241.905 6.968c.949 3.232 2.432 4.716 8.845 5.309c-.937 8.13-6.36 12.578-12.441 16.844c-5.352 3.753-11.214 7.367-14.981 13.23c-3.86 6.005-6.31 26.559-12.294 46.857c-5.173 17.539-12.984 34.88-26.625 42.479c-1.425-3.587.182-10.208-2.653-12.384c-1.834 5.231-3.907 10.222-6.336 14.86c-8.004 15.3-19.855 26.754-39.66 30.252c9.397-12.716 18.382-25.847 18.577-47.763c-6.613 1.43-6.473 17.052-13.268 21.228c-4.356.474-8.77.471-13.21.204c-18.24-1.093-36.952-6.575-54.015-1.1c-11.618 3.729-21.12 12.525-30.958 16.792c-11.563 5.015-20.32 7.077-34.718 5.015c-1.829-2.463 10.538-5.64 9.798-10.988c-5.635-.623-8.907.742-13.806-1.483c.541-.997 1.336-1.827 2.337-2.518c8.978-6.215 34.48-1.468 41.304-8.17c4.213-4.133 6.977-8.46 9.839-12.665c2.775-4.081 5.643-8.048 10.014-11.624a76.27 76.27 0 0 1 5.23-3.898c7.448-5.097 16.662-9.72 25.73-12.907c12.351-4.342 24.868-4.7 38.034-9.73c8.133-3.109 16.978-6.948 24.187-12.32a48.283 48.283 0 0 0 4.829-4.099c20.586-20.068 24.667-55.468 56.785-58.767c3.884-.398 7.063-.27 9.958-.357c3.335-.1 6.288-.487 9.498-2.297Zm-39.154 113.3c.383 6.134 3.945 18.306 7.089 21.264c-6.158 1.497-16.765-.977-19.486-5.32c1.398-6.271 8.674-12.004 12.397-15.945Z"
                                ></path><path
                                    fill="#002B64"
                                    d="M244.219 13.837c-1.238 2.597-3.608 5.944-3.608 12.554c-.01 1.135-.862 1.912-.876.163c.064-6.46 1.774-9.253 3.59-12.923c.844-1.504 1.353-.884.894.206Zm-1.247-.978c-1.46 2.478-4.976 6.996-5.558 13.581c-.107 1.13-1.025 1.828-.886.083c.634-6.428 3.444-10.451 5.577-13.949c.967-1.422 1.422-.76.867.285Zm-1.136-1.296c-1.664 2.345-7.076 7.772-8.208 14.286c-.204 1.114-1.177 1.736-.89.009c1.17-6.354 5.836-11.348 8.255-14.65c1.084-1.34 1.48-.64.843.355Zm-1.014-1.446l-.548.583c-2.42 2.594-8.042 8.922-9.915 14.715c-.36 1.075-1.411 1.554-.884-.117c2.052-6.126 7.703-12.724 10.562-15.653c1.263-1.172 1.556-.424.785.472Zm-29.05 13.115c1.254-5.386 5.443-7.84 12.674-7.242c1.745 8.04-8.02 11.283-12.674 7.242Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="#ffffff"
                                    d="M2.15 16.78h1.57a.14.14 0 0 0 .14-.12l.35-1.82h1.22a4.88 4.88 0 0 0 1.51-.2A2.79 2.79 0 0 0 8 14a3.18 3.18 0 0 0 .67-.85a3.43 3.43 0 0 0 .36-1a2.43 2.43 0 0 0-.41-2.16a2.64 2.64 0 0 0-2.09-.78h-3a.16.16 0 0 0-.15.13L2 16.6a.19.19 0 0 0 0 .13a.17.17 0 0 0 .15.05zM5 10.62h1a1.45 1.45 0 0 1 1.08.29c.17.18.2.52.11 1a1.81 1.81 0 0 1-.57 1.12a2.17 2.17 0 0 1-1.33.33h-.8zm9.8-.95a2.7 2.7 0 0 0-1.88-.51h-1.19l.33-1.76a.15.15 0 0 0 0-.13a.16.16 0 0 0-.11 0h-1.57a.14.14 0 0 0-.14.12l-1.38 7.27a.13.13 0 0 0 0 .12a.13.13 0 0 0 .11.06h1.54a.14.14 0 0 0 .14-.13l.77-4.07h1.11c.45 0 .61.1.66.16a.81.81 0 0 1 0 .62l-.61 3.24a.13.13 0 0 0 0 .12a.14.14 0 0 0 .11.06h1.56a.16.16 0 0 0 .15-.13l.64-3.4a1.7 1.7 0 0 0-.24-1.64zm4.52-.51h-3.13a.14.14 0 0 0-.15.13l-1.46 7.31a.16.16 0 0 0 0 .13a.14.14 0 0 0 .11.05h1.63a.14.14 0 0 0 .15-.12l.37-1.82h1.27a5.28 5.28 0 0 0 1.56-.2a3 3 0 0 0 1.18-.64a3.31 3.31 0 0 0 .7-.85a3.45 3.45 0 0 0 .37-1a2.38 2.38 0 0 0-.42-2.16a2.81 2.81 0 0 0-2.18-.83zm.62 2.77a1.83 1.83 0 0 1-.6 1.12a2.28 2.28 0 0 1-1.37.33h-.8l.54-2.76h1a1.6 1.6 0 0 1 1.13.29c.16.18.16.52.1 1.02z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32.125"
                                viewBox="0 0 256 257"
                                ><circle
                                    cx="128"
                                    cy="128.827"
                                    r="128"
                                    fill="#1A171B"></circle><path
                                    fill="#FFF"
                                    d="M183.706 48.124c-12.986.453-24.32 7.61-32.757 17.51c-9.342 10.855-15.557 23.73-20.035 36.872c-8.01-6.565-14.19-15.064-27.041-18.77c-9.933-2.852-20.366-1.674-29.96 5.474c-4.545 3.395-7.676 8.527-9.165 13.351c-3.855 12.537 4.053 23.694 7.645 27.7l7.853 8.416c1.619 1.65 5.518 5.955 3.612 12.127c-2.06 6.71-10.15 11.055-18.448 8.495c-3.706-1.13-9.03-3.891-7.838-7.779c.493-1.59 1.631-2.78 2.241-4.155c.56-1.181.827-2.067.997-2.587c1.516-4.95-.555-11.39-5.857-13.025c-4.946-1.516-10.007-.315-11.969 6.054c-2.225 7.235 1.237 20.366 19.783 26.084c21.729 6.676 40.11-5.155 42.717-20.586c1.642-9.665-2.722-16.845-10.717-26.08l-6.514-7.204c-3.946-3.942-5.301-10.661-1.217-15.825c3.446-4.356 8.354-6.215 16.392-4.029c11.733 3.186 16.963 11.327 25.69 17.893c-3.603 11.819-5.958 23.682-8.09 34.32l-1.299 7.931c-6.238 32.721-11 50.688-23.375 61.003c-2.493 1.773-6.057 4.427-11.429 4.612c-2.816.087-3.726-1.85-3.765-2.694c-.067-1.977 1.599-2.883 2.706-3.773c1.654-.902 4.155-2.398 3.985-7.191c-.18-5.664-4.872-10.575-11.654-10.35c-5.08.173-12.823 4.954-12.532 13.705c.303 9.039 8.728 15.813 21.43 15.384c6.79-.233 21.952-2.997 36.895-20.76c17.392-20.362 22.256-43.705 25.915-60.79l4.084-22.556c2.269.272 4.695.453 7.334.516c21.661.457 32.496-10.763 32.657-18.924c.107-4.939-3.241-9.799-7.928-9.689c-3.355.095-7.57 2.328-8.582 6.968c-.988 4.552 6.893 8.66.733 12.65c-4.376 2.832-12.221 4.828-23.269 3.206l2.009-11.103c4.1-21.055 9.157-46.954 28.341-47.584c1.398-.071 6.514.063 6.633 3.446c.035 1.13-.245 1.418-1.568 4.005c-1.347 2.017-1.855 3.734-1.792 5.707c.185 5.376 4.273 8.909 10.185 8.696c7.916-.256 10.193-7.963 10.063-11.921c-.32-9.3-10.122-15.175-23.1-14.75Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="36.125"
                                viewBox="0 0 256 289"
                                ><path
                                    fill="#539E43"
                                    d="M128 288.464c-3.975 0-7.685-1.06-11.13-2.915l-35.247-20.936c-5.3-2.915-2.65-3.975-1.06-4.505c7.155-2.385 8.48-2.915 15.9-7.156c.796-.53 1.856-.265 2.65.265l27.032 16.166c1.06.53 2.385.53 3.18 0l105.74-61.217c1.06-.53 1.59-1.59 1.59-2.915V83.08c0-1.325-.53-2.385-1.59-2.915l-105.74-60.953c-1.06-.53-2.385-.53-3.18 0L20.405 80.166c-1.06.53-1.59 1.855-1.59 2.915v122.17c0 1.06.53 2.385 1.59 2.915l28.887 16.695c15.636 7.95 25.44-1.325 25.44-10.6V93.68c0-1.59 1.326-3.18 3.181-3.18h13.516c1.59 0 3.18 1.325 3.18 3.18v120.58c0 20.936-11.396 33.126-31.272 33.126c-6.095 0-10.865 0-24.38-6.625l-27.827-15.9C4.24 220.885 0 213.465 0 205.515V83.346C0 75.396 4.24 67.976 11.13 64L116.87 2.783c6.625-3.71 15.635-3.71 22.26 0L244.87 64C251.76 67.975 256 75.395 256 83.346v122.17c0 7.95-4.24 15.37-11.13 19.345L139.13 286.08c-3.445 1.59-7.42 2.385-11.13 2.385Zm32.596-84.009c-46.377 0-55.917-21.2-55.917-39.221c0-1.59 1.325-3.18 3.18-3.18h13.78c1.59 0 2.916 1.06 2.916 2.65c2.12 14.045 8.215 20.936 36.306 20.936c22.261 0 31.802-5.035 31.802-16.96c0-6.891-2.65-11.926-37.367-15.372c-28.886-2.915-46.907-9.275-46.907-32.33c0-21.467 18.02-34.187 48.232-34.187c33.921 0 50.617 11.66 52.737 37.101c0 .795-.265 1.59-.795 2.385c-.53.53-1.325 1.06-2.12 1.06h-13.78c-1.326 0-2.65-1.06-2.916-2.385c-3.18-14.575-11.395-19.345-33.126-19.345c-24.38 0-27.296 8.48-27.296 14.84c0 7.686 3.445 10.07 36.306 14.31c32.597 4.24 47.967 10.336 47.967 33.127c-.265 23.321-19.345 36.571-53.002 36.571Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="#ffffff"
                                    d="M4 10v4h2v-3h1v3h1v-4H4m5 0v5h2v-1h2v-4H9m3 1v2h-1v-2h1m2-1v4h2v-3h1v3h1v-3h1v3h1v-4h-6M3 9h18v6h-9v1H8v-1H3V9Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="#ffffff"
                                    d="M7.64 10.38c0 .25.02.45.07.62c.05.12.12.28.21.46c.04.04.05.1.05.15c0 .07-.04.13-.13.2l-.42.28c-.06.04-.12.06-.17.06c-.07 0-.13-.04-.2-.1c-.09-.1-.17-.2-.24-.31c-.06-.11-.13-.24-.2-.39c-.52.61-1.17.92-1.96.92c-.56 0-1-.16-1.33-.48c-.32-.32-.49-.75-.49-1.29c0-.55.2-1 .6-1.36c.41-.34.95-.52 1.63-.52c.23 0 .44.02.71.06c.23.03.5.08.76.14v-.48c0-.51-.1-.84-.31-1.07c-.22-.21-.57-.3-1.08-.3c-.24 0-.48.03-.72.08c-.25.06-.49.13-.72.23c-.11.04-.2.07-.23.08c-.05.02-.08.02-.11.02c-.09 0-.14-.06-.14-.2v-.33c0-.1.01-.18.05-.23c.03-.05.09-.09.18-.12c.24-.14.51-.24.84-.32a3.9 3.9 0 0 1 1.04-.13c.79 0 1.37.18 1.74.54c.37.36.55.91.55 1.64v2.15h.02m-2.7 1.02c.22 0 .44-.04.68-.12c.24-.08.45-.23.63-.43c.11-.13.19-.27.25-.43c0-.16.05-.35.05-.58v-.27c-.2-.07-.4-.07-.62-.12a6.89 6.89 0 0 0-.62-.04c-.45 0-.77.09-.99.27c-.22.18-.32.43-.32.76c0 .32.07.56.24.71c.16.17.39.25.7.25m5.34.71a.58.58 0 0 1-.28-.06c-.03-.05-.08-.14-.12-.26L8.32 6.65c-.04-.15-.06-.22-.06-.27c0-.11.05-.17.16-.17h.65c.13 0 .22.02.26.07c.06.04.1.13.14.26l1.11 4.4l1.04-4.4c.03-.13.07-.22.13-.26c.05-.04.14-.07.25-.07h.55c.12 0 .21.02.26.07c.05.04.1.13.13.26L14 11l1.14-4.46c.04-.13.09-.22.13-.26c.06-.04.14-.07.26-.07h.62c.11 0 .17.06.17.17c0 .03-.01.07-.02.12c0 0-.02.08-.04.15l-1.61 5.14c-.04.14-.08.21-.15.26c-.04.04-.13.07-.24.07h-.57c-.13 0-.19-.02-.27-.07a.45.45 0 0 1-.12-.26L12.27 7.5l-1.03 4.28c-.03.13-.07.22-.12.27a.49.49 0 0 1-.27.06h-.57m8.55.18c-.33 0-.7-.04-1.03-.12c-.33-.08-.59-.17-.76-.26a.496.496 0 0 1-.21-.19a.392.392 0 0 1-.04-.18v-.34c0-.14.05-.2.15-.2h.12c.04 0 .1.05.17.08c.22.1.47.18.73.23c.27.05.54.08.79.08c.42 0 .75-.07.97-.22c.23-.17.35-.36.35-.63c0-.19-.07-.34-.18-.47c-.12-.12-.35-.24-.67-.34l-.97-.3c-.48-.16-.84-.38-1.06-.68a1.58 1.58 0 0 1-.33-.97c0-.28.06-.52.18-.73c.12-.22.28-.4.46-.55c.22-.15.44-.26.71-.34c.26-.08.54-.12.84-.12c.14 0 .29.01.45.03c.14.02.28.05.42.07c.14.04.26.07.38.11c.12.04.2.08.28.12c.09.05.16.1.2.16c.04.06.06.13.06.22v.32c0 .14-.05.21-.15.21c-.05 0-.14-.03-.26-.08c-.37-.17-.8-.26-1.27-.26c-.38 0-.66.06-.89.19c-.2.12-.31.32-.31.59c0 .19.07.35.2.47c.13.13.38.25.73.37l.95.3c.48.14.82.36 1.03.64c.2.27.3.58.3.93c0 .28-.06.54-.17.77c-.12.22-.28.42-.5.58c-.19.17-.44.29-.72.38c-.28.09-.62.13-.95.13m1.25 3.24C17.89 17.14 14.71 18 12 18c-3.85 0-7.3-1.42-9.91-3.77c-.21-.19-.02-.44.23-.29c2.82 1.63 6.29 2.62 9.89 2.62c2.43 0 5.1-.5 7.55-1.56c.37-.15.68.26.32.53M21 14.5c-.29-.37-1.86-.18-2.57-.1c-.21.03-.24-.16-.05-.3c1.25-.87 3.31-.6 3.54-.33c.24.3-.06 2.36-1.23 3.34c-.19.15-.36.07-.28-.11c.27-.68.86-2.16.59-2.5Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="28"
                                height="28"
                                viewBox="0 0 128 128"
                                ><path
                                    fill="#0078d4"
                                    d="M67.328 67.331h60.669V128H67.328zm-67.325 0h60.669V128H.003zM67.328 0h60.669v60.669H67.328zM.003 0h60.669v60.669H.003z"
                                ></path></svg
                            >
                        </button>
                    </div>
                </div>
            </div>

            <!-- left timeline -->
            <div
                class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
            >
                <div class="order-1 lg:w-5/12 xl:w-5/12 "></div>
                <div
                    class="z-20 xl:flex lg:flex hidden items-center order-1 bg-titleName shadow-xl w-8 h-8 rounded-full "
                >
                    <h1 class="mx-auto text-white font-semibold text-lg">16</h1>
                </div>
                <div
                    class="order-1 text-gray-700 rounded-lg shadow-shadowimg lg:w-5/12 xl:w-5/12 px-6 py-4 hover:shadow-shadowcard mx-auto ml-2 lg:mx-0 xl:mx-0 w-full"
                >
                    <h3 class="mb-3 font-bold text-white text-xl">
                        Desarrollador Junior (2016-2016)
                    </h3>
                    <sub class="text-sm tracking-wide text-slate-400">
                        Indenova SL (Valencia, España)</sub
                    >
                    <details class="text-md font-medium leading-snug tracking-wide text-slate-300 text-opacity-100 pt-2">
                        <summary class="text-white cursor-pointer">Experiencia</summary>
                        <p
                            class=""
                        >
                            Programador en Tareas Artifact con Maven <br />
                            Desarrollo de Aplicaciones con Tecnologías Struts y GWT <br
                            /> Creación de Vistas con JSP Gestión de Versiones con
                            Mercurial
                        </p>
                    </details>

                    <div
                        class="grid grid-cols-4 mx-2 gap-2 gap-y-8 pt-6 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-6 pb-2"
                    >
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 128 128"
                                ><defs
                                    ><path
                                        id="IconifyId18c399564e17053980"
                                        d="M0 0h128v128H0z"></path><path
                                        id="IconifyId18c399564e17053981"
                                        fill="#be202e"
                                        d="M43.695 53.98c-.265.293-.543.567-.824.844c.145-.133.293-.289.43-.433c.14-.13.27-.266.394-.41Zm0 0"
                                    ></path><path
                                        id="IconifyId18c399564e17053982"
                                        fill="#be202e"
                                        d="M41.602 49.426c.046-.04.082-.086.125-.121c.18-.18.363-.36.511-.543c-.199.218-.425.43-.64.664Zm0 0"
                                    ></path><path
                                        id="IconifyId18c399564e17053983"
                                        fill="#be202e"
                                        d="M43.309 54.398c-.133.149-.282.278-.43.434a5.68 5.68 0 0 1 .43-.434Zm0 0"
                                    ></path><path
                                        id="IconifyId18c399564e17053984"
                                        fill="#be202e"
                                        d="M41.602 49.438c.046-.04.082-.086.14-.133c-.047.035-.082.082-.14.133Zm0 0"
                                    ></path><path
                                        id="IconifyId18c399564e17053985"
                                        fill="#be202e"
                                        d="M79.602 62.586c-.45.023-.895.023-1.336.023h.687c.215.004.43-.004.649-.023Zm0 0"
                                    ></path><path
                                        id="IconifyId18c399564e17053986"
                                        fill="#be202e"
                                        d="M81.535 57.258h.2c.288 0 .578 0 .85-.035c-.339 0-.69 0-1.046.023Zm0 0"
                                    ></path><path
                                        id="IconifyId18c399564e17053987"
                                        fill="#be202e"
                                        d="M78.953 62.621h-.687a6.56 6.56 0 0 1 .687 0Zm0 0"
                                    ></path></defs
                                ><defs
                                    ><linearGradient
                                        id="IconifyId18c399564e17053988"
                                        x1="-7274.8"
                                        x2="-7243.872"
                                        y1="2082.507"
                                        y2="2046.343"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop offset="0" stop-color="#f69923"
                                        ></stop><stop
                                            offset=".312"
                                            stop-color="#f79a23"></stop><stop
                                            offset=".838"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e17053989"
                                        x1="-7503.689"
                                        x2="-7283.036"
                                        y1="2086.595"
                                        y2="2086.595"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539810"
                                        x1="-7477.053"
                                        x2="-7345.566"
                                        y1="2064.42"
                                        y2="2064.42"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop offset="0" stop-color="#282662"
                                        ></stop><stop
                                            offset=".095"
                                            stop-color="#662e8d"></stop><stop
                                            offset=".788"
                                            stop-color="#9f2064"></stop><stop
                                            offset=".949"
                                            stop-color="#cd2032"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539811"
                                        x1="-7491.296"
                                        x2="-7270.643"
                                        y1="2088.633"
                                        y2="2088.633"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539812"
                                        x1="-7475.203"
                                        x2="-7359.244"
                                        y1="2085.61"
                                        y2="2085.61"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop offset="0" stop-color="#282662"
                                        ></stop><stop
                                            offset=".095"
                                            stop-color="#662e8d"></stop><stop
                                            offset=".788"
                                            stop-color="#9f2064"></stop><stop
                                            offset=".949"
                                            stop-color="#cd2032"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539813"
                                        x1="-7491.296"
                                        x2="-7270.643"
                                        y1="2065.799"
                                        y2="2065.799"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539814"
                                        x1="-7504.984"
                                        x2="-7284.331"
                                        y1="2066.905"
                                        y2="2066.905"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539815"
                                        x1="-7491.296"
                                        x2="-7270.643"
                                        y1="2058.959"
                                        y2="2058.959"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539816"
                                        x1="-7491.296"
                                        x2="-7270.643"
                                        y1="2059.762"
                                        y2="2059.762"
                                        gradientTransform="matrix(-.092 -.464 -.464 .092 318.72 -3557.936)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539817"
                                        x1="-8307.632"
                                        x2="-8276.704"
                                        y1="2040.008"
                                        y2="2003.844"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop offset="0" stop-color="#f69923"
                                        ></stop><stop
                                            offset=".312"
                                            stop-color="#f79a23"></stop><stop
                                            offset=".838"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539818"
                                        x1="-8536.521"
                                        x2="-8315.868"
                                        y1="2044.096"
                                        y2="2044.096"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539819"
                                        x1="-8509.885"
                                        x2="-8378.397"
                                        y1="2021.921"
                                        y2="2021.921"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop offset="0" stop-color="#282662"
                                        ></stop><stop
                                            offset=".095"
                                            stop-color="#662e8d"></stop><stop
                                            offset=".788"
                                            stop-color="#9f2064"></stop><stop
                                            offset=".949"
                                            stop-color="#cd2032"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539820"
                                        x1="-8524.128"
                                        x2="-8303.475"
                                        y1="2046.134"
                                        y2="2046.134"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539821"
                                        x1="-8508.035"
                                        x2="-8392.076"
                                        y1="2043.111"
                                        y2="2043.111"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop offset="0" stop-color="#282662"
                                        ></stop><stop
                                            offset=".095"
                                            stop-color="#662e8d"></stop><stop
                                            offset=".788"
                                            stop-color="#9f2064"></stop><stop
                                            offset=".949"
                                            stop-color="#cd2032"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539822"
                                        x1="-8524.128"
                                        x2="-8303.475"
                                        y1="2023.3"
                                        y2="2023.3"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539823"
                                        x1="-8537.816"
                                        x2="-8317.163"
                                        y1="2024.407"
                                        y2="2024.407"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><linearGradient
                                        id="IconifyId18c399564e170539824"
                                        x1="-8524.128"
                                        x2="-8303.475"
                                        y1="2016.46"
                                        y2="2016.46"
                                        gradientTransform="matrix(.296 -.448 -.448 -.296 3456.332 -3102.04)"
                                        gradientUnits="userSpaceOnUse"
                                        ><stop
                                            offset=".323"
                                            stop-color="#9e2064"></stop><stop
                                            offset=".63"
                                            stop-color="#c92037"></stop><stop
                                            offset=".751"
                                            stop-color="#cd2335"></stop><stop
                                            offset="1"
                                            stop-color="#e97826"
                                        ></stop></linearGradient
                                    ><clipPath id="IconifyId18c399564e170539825"
                                        ><use
                                            href="#IconifyId18c399564e17053980"
                                        ></use></clipPath
                                    ><clipPath id="IconifyId18c399564e170539826"
                                        ><use
                                            href="#IconifyId18c399564e17053980"
                                        ></use></clipPath
                                    ><clipPath id="IconifyId18c399564e170539827"
                                        ><use
                                            href="#IconifyId18c399564e17053980"
                                        ></use></clipPath
                                    ><clipPath id="IconifyId18c399564e170539828"
                                        ><use
                                            href="#IconifyId18c399564e17053980"
                                        ></use></clipPath
                                    ><clipPath id="IconifyId18c399564e170539829"
                                        ><use
                                            href="#IconifyId18c399564e17053980"
                                        ></use></clipPath
                                    ><clipPath id="IconifyId18c399564e170539830"
                                        ><use
                                            href="#IconifyId18c399564e17053980"
                                        ></use></clipPath
                                    ><clipPath id="IconifyId18c399564e170539831"
                                        ><use
                                            href="#IconifyId18c399564e17053980"
                                        ></use></clipPath
                                    ><mask id="IconifyId18c399564e170539832"
                                        ><g
                                            filter="url(#IconifyId18c399564e170539846)"
                                            ><use
                                                href="#IconifyId18c399564e17053980"
                                                fill-opacity=".349"></use></g
                                        ></mask
                                    ><mask id="IconifyId18c399564e170539833"
                                        ><g
                                            filter="url(#IconifyId18c399564e170539846)"
                                            ><use
                                                href="#IconifyId18c399564e17053980"
                                                fill-opacity=".349"></use></g
                                        ></mask
                                    ><mask id="IconifyId18c399564e170539834"
                                        ><g
                                            filter="url(#IconifyId18c399564e170539846)"
                                            ><use
                                                href="#IconifyId18c399564e17053980"
                                                fill-opacity=".349"></use></g
                                        ></mask
                                    ><mask id="IconifyId18c399564e170539835"
                                        ><g
                                            filter="url(#IconifyId18c399564e170539846)"
                                            ><use
                                                href="#IconifyId18c399564e17053980"
                                                fill-opacity=".349"></use></g
                                        ></mask
                                    ><mask id="IconifyId18c399564e170539836"
                                        ><g
                                            filter="url(#IconifyId18c399564e170539846)"
                                            ><use
                                                href="#IconifyId18c399564e17053980"
                                                fill-opacity=".349"></use></g
                                        ></mask
                                    ><mask id="IconifyId18c399564e170539837"
                                        ><g
                                            filter="url(#IconifyId18c399564e170539846)"
                                            ><use
                                                href="#IconifyId18c399564e17053980"
                                                fill-opacity=".349"></use></g
                                        ></mask
                                    ><mask id="IconifyId18c399564e170539838"
                                        ><g
                                            filter="url(#IconifyId18c399564e170539846)"
                                            ><use
                                                href="#IconifyId18c399564e17053980"
                                                fill-opacity=".349"></use></g
                                        ></mask
                                    ><g
                                        id="IconifyId18c399564e170539839"
                                        clip-path="url(#IconifyId18c399564e170539825)"
                                        ><use
                                            href="#IconifyId18c399564e17053981"
                                        ></use></g
                                    ><g
                                        id="IconifyId18c399564e170539840"
                                        clip-path="url(#IconifyId18c399564e170539826)"
                                        ><use
                                            href="#IconifyId18c399564e17053982"
                                        ></use></g
                                    ><g
                                        id="IconifyId18c399564e170539841"
                                        clip-path="url(#IconifyId18c399564e170539827)"
                                        ><use
                                            href="#IconifyId18c399564e17053983"
                                        ></use></g
                                    ><g
                                        id="IconifyId18c399564e170539842"
                                        clip-path="url(#IconifyId18c399564e170539828)"
                                        ><use
                                            href="#IconifyId18c399564e17053984"
                                        ></use></g
                                    ><g
                                        id="IconifyId18c399564e170539843"
                                        clip-path="url(#IconifyId18c399564e170539829)"
                                        ><use
                                            href="#IconifyId18c399564e17053985"
                                        ></use></g
                                    ><g
                                        id="IconifyId18c399564e170539844"
                                        clip-path="url(#IconifyId18c399564e170539830)"
                                        ><use
                                            href="#IconifyId18c399564e17053986"
                                        ></use></g
                                    ><g
                                        id="IconifyId18c399564e170539845"
                                        clip-path="url(#IconifyId18c399564e170539831)"
                                        ><use
                                            href="#IconifyId18c399564e17053987"
                                        ></use></g
                                    ><filter
                                        id="IconifyId18c399564e170539846"
                                        width="100%"
                                        height="100%"
                                        x="0%"
                                        y="0%"
                                        filterUnits="objectBoundingBox"
                                        ><feColorMatrix
                                            in="SourceGraphic"
                                            values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
                                        ></feColorMatrix></filter
                                    ></defs
                                ><path
                                    fill="url(#IconifyId18c399564e17053988)"
                                    d="M23.902 10.133a38.039 38.039 0 0 0-1.597 10.62l5.707 2.763a72.4 72.4 0 0 1 .398-10.164c.024-.23.047-.368.047-.368c0 .125-.035.243-.047.368a64.129 64.129 0 0 0-.012 10.027a110.54 110.54 0 0 0 8.457-8a12.174 12.174 0 0 0-6.37-6.805s-5.055-2.039-6.583 1.559Zm0 0"
                                ></path><use href="#IconifyId18c399564e17053981"
                                ></use><use
                                    href="#IconifyId18c399564e170539839"
                                    mask="url(#IconifyId18c399564e170539832)"
                                ></use><use href="#IconifyId18c399564e17053982"
                                ></use><use
                                    href="#IconifyId18c399564e170539840"
                                    mask="url(#IconifyId18c399564e170539833)"
                                ></use><path
                                    fill="url(#IconifyId18c399564e17053989)"
                                    d="M29.52 40.367a231.874 231.874 0 0 1-.72-5.597a112.17 112.17 0 0 1-.523-5.633c0-.114-.02-.227 0-.325a89.502 89.502 0 0 1-.277-5.3l-5.7-2.746c0 .343-.038.699-.054 1.074c-.055 1.363-.098 2.8-.11 4.34c0 1.718 0 3.511.032 5.386c.039 1.73.113 3.532.203 5.364c.094 1.566.195 3.148.324 4.765v.184l7.625 3.86c-.254-1.801-.53-3.594-.8-5.372Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539810)"
                                    d="M40.8 85.45c.4 1.421.848 2.89 1.313 4.378v.059c.063.218.114.422.196.629c.304 1.004.593 1.894 1.226 3.937A7.694 7.694 0 0 1 47.91 95.5a6.244 6.244 0 0 0-4.164-2.266a13.38 13.38 0 0 0 7.309-11.906a15.897 15.897 0 0 0-.188-1.305a5.387 5.387 0 0 1-3.062 4.61a15.057 15.057 0 0 0 2.437-9.492a29.88 29.88 0 0 0-.297-2.477a12.23 12.23 0 0 1-7.09 9.848l-2.312 2.129c.086.265.156.53.258.808Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539811)"
                                    d="M37.813 78.941c-.485-1.808-.97-3.644-1.461-5.496A361.37 361.37 0 0 1 35 68.06c-.445-1.817-.871-3.645-1.297-5.47c-.422-1.827-.84-3.737-1.23-5.6c-.395-1.864-.762-3.723-1.13-5.575c-.132-.672-.25-1.324-.37-2c-.211-1.14-.403-2.293-.61-3.45a.618.618 0 0 0-.039-.187l-7.582-3.87c.02.12.028.241.031.366c.153 1.715.297 3.457.504 5.2c.203 1.738.422 3.558.688 5.363c.223 1.52.465 3.027.715 4.55c.05.301.113.618.164.915a109.705 109.705 0 0 0 2.555 10.828c.328 1.101.652 2.168.984 3.176c.289.847.601 1.699.902 2.539a73.593 73.593 0 0 0 2.399 5.754l7.66 3.879c-.399-1.41-.801-2.84-1.2-4.293c-.113-.418-.214-.825-.331-1.243Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539812)"
                                    d="M31.79 80.832a59.387 59.387 0 0 0 3.523 6.508c.042.062.085.152.132.215a15.505 15.505 0 0 0-5.84-.45a21.445 21.445 0 0 1 9.41 5.485a9.865 9.865 0 0 1-4.449 2.23a9.838 9.838 0 0 0 4.883-.433a12.014 12.014 0 0 0-2.969 5.789a12.343 12.343 0 0 1 4.82-5.106c2.302 7.625 5.067 15.89 8.138 24.563c.476-.617.609-1.43.359-2.164c-.567-1.559-4.219-11.871-8.383-25.871c-.117-.403-.223-.801-.355-1.203c-.036-.114-.063-.215-.098-.336a749.886 749.886 0 0 1-1.305-4.528c-.097-.36-.199-.695-.297-1.058l-7.66-3.88c.024.083.051.16.09.239Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539813)"
                                    d="M31.223 45.902c.047.258.093.485.136.746c.149.758.282 1.528.438 2.301c.16.844.336 1.703.504 2.586c.082.445.168.89.261 1.344c.278 1.36.579 2.754.887 4.187c.399 1.766.797 3.579 1.242 5.465c.403 1.785.871 3.645 1.344 5.535c.461 1.805.926 3.653 1.438 5.567c.449 1.691.93 3.43 1.418 5.199c0 .082.058.176.074.262a632.38 632.38 0 0 0 1.543 5.41a.305.305 0 0 0 .035.117l2.312-2.129c-.058 0-.101.051-.18.082a22.18 22.18 0 0 0 5.634-12.453a29.749 29.749 0 0 0-.075-6.95a47.27 47.27 0 0 0-1.109-5.944a78.476 78.476 0 0 0-1.7-5.825a11.615 11.615 0 0 1-1.765 2.551l-.398.438c-.133.148-.282.277-.43.433a13.5 13.5 0 0 0 1.664-10.027a12.698 12.698 0 0 1-2.289 3.965c-.152.183-.332.363-.512.543c-.047.035-.082.082-.144.133a13.94 13.94 0 0 0 1.484-3.258c.07-.223.13-.45.172-.68c.082-.348.137-.7.188-1.05c.02-.235.058-.45.078-.684a9.725 9.725 0 0 0 0-1.653c0-.183 0-.347-.043-.52c-.047-.257-.078-.495-.125-.73a41.03 41.03 0 0 0-.598-2.8c-.102-.399-.2-.766-.305-1.098c-.047-.133-.07-.262-.117-.403c-.125-.363-.226-.699-.336-.976a10.217 10.217 0 0 0-.422-.969a2.14 2.14 0 0 1-.168.457a15.014 15.014 0 0 1-2.597 3.739l2.129-1.95l-2.145 1.938a.08.08 0 0 0-.035.05a4.49 4.49 0 0 0-.313.348c0-.027.04-.05.043-.074l-7.28 6.66c.058.05.066.09.062.117Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539814)"
                                    d="M28.398 23.379c.09 1.601.23 3.394.403 5.379c.004.101.015.207.035.308c.164 1.735.375 3.602.648 5.637c.23 1.758.489 3.602.801 5.602c.258 1.73.578 3.543.906 5.468l7.282-6.668a11.974 11.974 0 0 0 1.828-6.59c0-.57-.043-1.171-.09-1.788A56.41 56.41 0 0 0 39.578 25a49.186 49.186 0 0 0-1.082-5.148a28.214 28.214 0 0 0-.836-2.614a32.462 32.462 0 0 0-.8-1.812a115.46 115.46 0 0 1-8.462 7.953Zm0 0"
                                ></path><use href="#IconifyId18c399564e17053983"
                                ></use><use
                                    href="#IconifyId18c399564e170539841"
                                    mask="url(#IconifyId18c399564e170539834)"
                                ></use><path
                                    fill="url(#IconifyId18c399564e170539815)"
                                    d="M43.309 54.398c-.133.149-.282.278-.43.434a5.68 5.68 0 0 1 .43-.434Zm0 0"
                                ></path><use href="#IconifyId18c399564e17053984"
                                ></use><use
                                    href="#IconifyId18c399564e170539842"
                                    mask="url(#IconifyId18c399564e170539835)"
                                ></use><path
                                    fill="url(#IconifyId18c399564e170539816)"
                                    d="M41.602 49.438c.046-.04.082-.086.14-.133c-.047.035-.082.082-.14.133Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539817)"
                                    d="M98.508 11.563a43.16 43.16 0 0 0-9.707 7.289l2.398 6.761a80.326 80.326 0 0 1 8.403-7.86c.203-.167.328-.265.328-.265c-.106.098-.227.168-.328.266a71.75 71.75 0 0 0-8 8.05c4.375.325 8.765.423 13.152.29a13.78 13.78 0 0 0 .281-10.559s-2.445-5.656-6.527-3.973Zm0 0"
                                ></path><use href="#IconifyId18c399564e17053985"
                                ></use><use
                                    href="#IconifyId18c399564e170539843"
                                    mask="url(#IconifyId18c399564e170539836)"
                                ></use><use href="#IconifyId18c399564e17053986"
                                ></use><use
                                    href="#IconifyId18c399564e170539844"
                                    mask="url(#IconifyId18c399564e170539837)"
                                ></use><path
                                    fill="url(#IconifyId18c399564e170539818)"
                                    d="M79.004 40.363a318.718 318.718 0 0 1 3.871-5.086a138.623 138.623 0 0 1 4.055-4.949c.078-.101.164-.195.238-.277a135.156 135.156 0 0 1 4-4.465l-2.398-6.742c-.286.27-.59.535-.899.82a136.81 136.81 0 0 0-3.535 3.402a222.161 222.161 0 0 0-4.258 4.368a220.475 220.475 0 0 0-4.09 4.472a260.517 260.517 0 0 0-3.527 4.098l-.137.156l3.067 9.164c1.222-1.652 2.418-3.324 3.613-4.96Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539819)"
                                    d="M52.254 85.602c-.8 1.476-1.602 3-2.422 4.566c0 .02-.027.039-.031.059c-.121.23-.242.433-.34.66c-.555 1.05-1.023 2-2.137 4.144a8.72 8.72 0 0 1 2.692 4.32a7.08 7.08 0 0 0-1.551-5.128c6.23 1.203 11.89.402 15.344-3.778c.3-.379.597-.777.882-1.203a6.088 6.088 0 0 1-6.129 1.274a17.043 17.043 0 0 0 9.504-5.715a35.594 35.594 0 0 0 1.727-2.235a13.818 13.818 0 0 1-13.531 2.297l-3.555-.125c-.152.305-.309.575-.453.864Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539820)"
                                    d="M55.031 78c1.047-1.844 2.117-3.703 3.2-5.602a296.203 296.203 0 0 1 3.203-5.406c1.097-1.808 2.195-3.625 3.3-5.437a282.35 282.35 0 0 1 3.47-5.5c1.175-1.825 2.347-3.598 3.515-5.383a86.9 86.9 0 0 1 1.3-1.914c.739-1.09 1.497-2.18 2.254-3.262c.032-.059.082-.121.114-.184l-3.028-9.136a2.994 2.994 0 0 1-.265.316c-1.242 1.504-2.504 3.024-3.739 4.598c-1.23 1.57-2.488 3.2-3.707 4.867a265.274 265.274 0 0 0-3.039 4.23c-.199.282-.402.586-.593.868c-1.2 1.797-2.364 3.558-3.387 5.25a113.286 113.286 0 0 0-3.156 5.5a134.34 134.34 0 0 0-1.735 3.34c-.441.91-.867 1.843-1.289 2.757a85.328 85.328 0 0 0-2.644 6.535l3.082 9.2c.8-1.461 1.625-2.914 2.445-4.403c.219-.394.469-.8.7-1.234Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539821)"
                                    d="M48.68 74.742a67.607 67.607 0 0 0-2.332 8.043c0 .086-.051.192-.063.278a17.542 17.542 0 0 0-4.344-5.004a24.348 24.348 0 0 1 3.22 11.894a11.167 11.167 0 0 1-5.356-1.742a11.088 11.088 0 0 0 4.27 3.531a13.604 13.604 0 0 0-6.985 2.301a13.928 13.928 0 0 1 7.933-.273c-4.222 7.957-8.543 16.808-12.964 26.23a2.598 2.598 0 0 0 2-1.457c.8-1.703 6.043-12.902 13.812-27.488c.219-.399.453-.82.672-1.254l.184-.348c.824-1.52 1.671-3.082 2.55-4.68c.207-.37.399-.722.602-1.09v-.019l-3.082-9.2c-.047.09-.086.184-.117.278Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539822)"
                                    d="M75.977 46.176c-.168.238-.313.465-.48.703c-.485.73-.99 1.453-1.477 2.2a208.44 208.44 0 0 1-1.653 2.483c-.281.426-.566.848-.855 1.293c-.86 1.317-1.723 2.676-2.617 4.075a347.967 347.967 0 0 0-3.34 5.383a502.867 502.867 0 0 0-3.317 5.523c-1.062 1.816-2.152 3.676-3.261 5.602c-.985 1.718-1.977 3.5-3 5.324c-.055.078-.094.183-.149.265a529.846 529.846 0 0 0-3.058 5.602a.298.298 0 0 0-.067.125l3.555.121c-.063-.031-.13-.04-.215-.074a25.118 25.118 0 0 0 14.43-5.559a33.84 33.84 0 0 0 5.472-5.64a55.376 55.376 0 0 0 3.825-5.668a86.801 86.801 0 0 0 3.257-6.043c-1.113.37-2.27.59-3.441.648l-.676.035h-.687a15.28 15.28 0 0 0 9.304-6.75a14.342 14.342 0 0 1-4.992 1.375c-.27.028-.558.028-.847.031h-.22a15.9 15.9 0 0 0 3.778-1.437c.234-.121.465-.254.684-.402c.343-.215.664-.453.984-.696c.207-.168.402-.32.606-.488c.472-.41.906-.855 1.304-1.34c.137-.156.266-.293.375-.457c.168-.238.332-.457.477-.683a40.85 40.85 0 0 0 1.758-2.735c.234-.398.445-.777.629-1.129c.066-.144.148-.265.218-.398c.192-.403.375-.746.508-1.059c.16-.36.305-.73.426-1.11a2.336 2.336 0 0 1-.5.235a16.92 16.92 0 0 1-5.059.946l3.266.125l-3.266-.125c-.023-.012-.047-.012-.066 0a5.675 5.675 0 0 0-.516 0c.028 0 .07 0 .094-.032l-11.16-.402c.02.074-.008.113-.031.133Zm0 0"
                                ></path><path
                                    fill="url(#IconifyId18c399564e170539823)"
                                    d="M91.602 25.809a161.424 161.424 0 0 0-3.946 4.656c-.082.086-.156.18-.219.277a178.511 178.511 0 0 0-3.957 5.055c-1.199 1.598-2.48 3.297-3.816 5.16c-1.168 1.598-2.348 3.316-3.602 5.121l11.16.402a13.554 13.554 0 0 0 6.712-3.847a45.42 45.42 0 0 0 1.351-1.508A66.175 66.175 0 0 0 99.313 36a56.266 56.266 0 0 0 3.199-5.004a29.64 29.64 0 0 0 1.402-2.766c.309-.73.566-1.421.8-2.097c-4.374.113-8.75.004-13.112-.324Zm0 0"
                                ></path><use href="#IconifyId18c399564e17053987"
                                ></use><use
                                    href="#IconifyId18c399564e170539845"
                                    mask="url(#IconifyId18c399564e170539838)"
                                ></use><path
                                    fill="url(#IconifyId18c399564e170539824)"
                                    d="M78.953 62.621h-.687a6.56 6.56 0 0 1 .687 0Zm0 0"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                viewBox="0 0 48 48"
                                ><path
                                    fill="none"
                                    stroke="#fff"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M24 45.5v-43M2.5 24h43m-1.8 8.6L4.3 15.4m11.1 28.3L32.6 4.3"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="36.25"
                                viewBox="0 0 256 290"
                                ><path
                                    fill="#202A5A"
                                    d="M241.026 73.902L130.416 9.66L9.66 77.283v135.245l120.755 67.623l115.925-67.623V71.487l-5.314 2.415Z"
                                ></path><path
                                    fill="#2C448A"
                                    d="m9.66 77.283l120.755 67.623L246.34 77.283L130.415 9.66L9.66 77.283Z"
                                ></path><path
                                    fill="#283A79"
                                    d="m246.34 71.487l-38.642 20.287l-.483 8.694l-76.8 44.438V280.15l115.925-67.623V71.487Z"
                                ></path><path
                                    fill="#202A5A"
                                    d="M9.66 77.283v135.245l120.755 67.623V144.906L9.66 77.283Z"
                                ></path><path
                                    fill="#3558A7"
                                    d="M0 212.528v-43.471l130.415 77.283v43.471L0 212.528ZM0 77.283v24.151l130.415 77.283v-24.151L0 77.283Z"
                                ></path><path
                                    fill="#416FB5"
                                    d="M256 212.528v-24.15L150.219 142.49l-19.804 12.075v23.668l64.242 28.498l-64.242 39.608v43.471L256 212.528Z"
                                ></path><path
                                    fill="#477FC1"
                                    d="m194.657 206.732l-7.729-2.898l-56.513 32.845L9.66 169.057v-5.797L0 169.057l130.415 77.283l64.242-39.608ZM56.996 86.943l73.42-43.471l77.282 48.302l38.642-20.287L130.415 0L0 77.283l130.415 77.283l19.804-12.075l-93.223-55.548Z"
                                ></path><path
                                    fill="#202A5A"
                                    d="m207.215 100.468l.483-8.694l-77.283-48.302l-73.419 43.471l8.212 4.83l65.207-38.64l76.8 47.335Z"
                                ></path></svg
                            >
                        </button>
                        <button
                            class="rounded-full border-2 border-titleName w-12 h-12 hover:scale-110 bg-body cursor-default hover:shadow-shadowcard"
                        >
                            <svg
                                class="items-center justify-center inline-block"
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="33.75"
                                viewBox="0 0 256 270"
                                ><path
                                    fill="#F93535"
                                    d="M103.996 27.798c.921-.922.921-2.482 0-3.404L80.346.744c-.922-.921-2.482-.921-3.404 0L.922 76.73c-.922.922-.922 2.482 0 3.404l76.02 76.02c.922.922 2.482.922 3.404 0l23.65-23.65c.921-.922.921-2.482 0-3.404L55.065 80.17c-.922-.922-.922-2.483 0-3.404l48.93-48.967Z"
                                ></path><path
                                    fill="#F93535"
                                    d="M179.165.745c-.922-.922-2.482-.922-3.404 0L99.847 76.623c-.922.922-.922 2.482 0 3.404l23.65 23.685c.922.922 2.482.922 3.404 0l48.86-48.86c.922-.922 2.482-.922 3.404 0l21.877 21.877c.921.922.921 2.482 0 3.404l-48.931 48.93c-.922.923-.922 2.483 0 3.405l23.65 23.65c.922.921 2.482.921 3.404 0l75.984-75.985c.922-.922.922-2.482 0-3.404L179.165.745Z"
                                ></path><path
                                    fill="#fff"
                                    d="M45.952 224.301V240.4h18.225v7.481c-3.652 3.12-8.332 4.68-13.863 4.68c-5.886 0-10.744-1.914-14.821-5.814c-3.972-3.971-5.886-8.794-5.886-14.715c0-5.957 1.95-10.779 5.992-14.715c4.077-3.97 8.9-5.921 14.75-5.921c5.886 0 10.637 1.631 14.502 4.964c3.475-3.723 8.651-8.226 11.524-11.559c-7.198-6.595-15.956-9.893-26.026-9.893c-10.85 0-19.82 3.475-27.373 10.602c-7.588 7.162-11.24 15.85-11.24 26.522c0 10.673 3.688 19.36 11.276 26.522c7.481 6.985 16.7 10.495 27.372 10.495c12.233 0 23.65-5.496 30.494-14.644l.248-.354v-29.784H45.952v.035ZM158.6 196.007l-12.091 39.357l-11.524-39.357h-13.97l-11.488 39.357l-12.091-39.357h-17.8l21.771 71.977h14.857l11.7-38.329l11.701 38.33h14.857l21.77-71.978H158.6Zm22.692 0l-5 16.523h21.346v55.454h20.21V212.53h21.31v-16.523h-57.866Z"
                                ></path></svg
                            >
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
    h2 {
        font-family: "LeagueSpartan";
    }

    sub {
        font-family: "Alegreya-Italic";
    }

    h3 {
        font-family: "Alegreya-Bold";
    }
    p {
        font-family: "Alegreya-Regular";
    }

    @font-face {
        font-family: "LeagueSpartan";
        src: url("/fonts/LeagueSpartan/LeagueSpartan-Bold.otf")
            format("opentype");
        display: swap;
    }
    @font-face {
        font-family: "Alegreya-Italic";
        src: url("/fonts/Alegreya/Alegreya-BoldItalic.ttf") format("truetype");
        display: swap;
    }
    @font-face {
        font-family: "Alegreya-Bold";
        src: url("/fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
        display: swap;
    }

    @font-face {
        font-family: "Alegreya-Regular";
        src: url("/fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
        display: swap;
    }
</style>
