---

---

<!-- component -->
<div class="container">
    <h1 class="text-center xl:text-5xl lg:text-4xl text-3xl pb-24 text-nav">
        ¿<span class="text-titleName">Hablamos</span>?
    </h1>
</div>
<div class="container lg:max-w-screen-sm lg:mx-auto">
    <!-- component -->
    <div
        class="flex items-center justify-center p-12 rounded-lg overflow-hidden shadow-shadowimg hover:shadow-shadowcard mx-4 lg:mx-0 xl:mx-0 "
    >
        <!-- Learn More: https://formbold.com -->
        <div class="mx-auto w-full max-w-[750px]">
            <form action="https://formbold.com/s/IDFORM" method="POST">
                <div class="mb-5">
                    <label
                        for="name"
                        class="mb-3 block text-base font-medium text-slate-300"
                    >
                        Nombre
                    </label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Nombre"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-titleName focus:shadow-md focus:placeholder-transparent"
                    />
                </div>
                <div class="mb-5">
                    <label
                        for="email"
                        class="mb-3 block text-base font-medium text-slate-300"
                    >
                        Correo Electrónico
                    </label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="example@domain.com"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-titleName focus:shadow-md focus:placeholder-transparent"
                    />
                </div>
                <div class="mb-5">
                    <label
                        for="subject"
                        class="mb-3 block text-base font-medium text-slate-300"
                    >
                        Asunto
                    </label>
                    <input
                        type="text"
                        name="subject"
                        id="subject"
                        placeholder="Introduccir Asunto"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-titleName focus:shadow-md focus:placeholder-transparent"
                    />
                </div>
                <div class="mb-5">
                    <label
                        for="message"
                        class="mb-3 block text-base font-medium text-slate-300"
                    >
                        Mensaje
                    </label>
                    <textarea
                        rows="4"
                        name="message"
                        id="message"
                        placeholder="Escribir Mensaje"
                        class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-titleName focus:shadow-md focus:placeholder-transparent"
                    ></textarea>
                </div>
                <div class="m-auto items-center text-center justify-center">
                    <button
                        class="w-full hover:shadow-shadowcard rounded-md bg-transparent border border-titleName hover:-translate-y-2 duration-300 py-3 px-8 text-base font-semibold text-white outline-none"
                    >
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
