---

---

    <div class="container">
        <h2 class="text-center text-3xl xl:text-5xl lg:text-4xl md:text-3xl pb-24 text-nav">
            ¿Qué me<span class="text-titleName"> Define</span>?
        </h2>
    </div>
    <div class="items-center flex flex-wrap pt-10">
        <picture class="max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl ml-auto mr-auto px-4 text-gray-700">
            <img
                alt="historia"
                class="max-w-full rounded-lg shadow-shadowimg hover:shadow-shadowcard border-r-[12px] border-b-[12px] border-[12px] border-gray-700 border-r-titleName border-b-titleName "
                src="/img/Webp/Foto-Cafe-Historia.webp"
                loading="lazy"
            />
        </picture>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4 my-10 ">
            <div
                class="whitespace-normal md:pr-12 relative group pb-2 flex flex-col rounded-xl shadow-shadowimg hover:shadow-shadowcard bg-clip-border text-gray-700 text-center lg:text-left my-10"
            >
                <h3
                    class="text-3xl font-semibold mx-10 pt-2 my-4 gap-4 text-slate-300"
                >
                    Filosofía
                </h3>
                <p
                    class="mt-4 text-lg leading-relaxed text-blueGray-500 mx-10 my-4 gap-4 text-slate-400"
                >
                    Mi pasión es la creación y mejora de aplicaciones impulsadas
                    por lenguajes modernos, alineadas con la evolución
                    tecnológica hacia la web3.<br> Mi objetivo es impulsar la
                    innovación y la transformación digital en un mundo en
                    constante evolución, trabajando como freelance para llevar
                    tus ideas al siguiente nivel.
                </p>
            </div>
            <div
                class="md:pr-12 relative group flex flex-col rounded-xl shadow-shadowimg hover:shadow-shadowcard bg-clip-border text-gray-700 my-10 text-center lg:text-left"
            >
                <h3
                    class="text-3xl font-semibold mx-10 my-4 gap-4 text-slate-300"
                >
                    Formaciones
                </h3>
                <p
                    class="mt-4 text-lg leading-relaxed text-slate-400 mx-10 my-4 gap-4"
                >
                    Técnico en Desarrollo de Aplicaciones Multiplataforma <br>
                    Técnico en Explotación de Sistemas Informáticos<br>
                    Certificado Fundamentos de la ingeniería de software<br>
                    Certificado en Scrum Master <br>
                    Certificado Git - Github
                </p>
            </div>
        </div>
    </div>
<style>
    h3 {
        font-family: "AlegreyaBold";
    }
    p {
        font-family: "AlegreyaRegular";
    }

    @font-face {
        font-family: "AlegreyaRegular";
        src: url("/fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
        display: swap;
    }
    @font-face {
        font-family: "AlegreyaBold";
        src: url("/fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
        display: swap;
    }
</style>
