---

---

<div class="container m-auto">
    <h2 class="text-center xl:text-5xl lg:text-4xl text-3xl pb-24 text-nav">
        <span class="text-titleName">Trabajemos</span> Juntos
    </h2>
</div>
<!-- component -->
<div class="container px-5 py-8 mx-auto">
    <div class="container px-4 mx-auto">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 justify-evenly gap-10 pt-10"
        >
            <div
                id="planclasico"
                class="rounded-lg text-center overflow-hidden w-full transform shadow-shadowimg hover:shadow-shadowcard hover:scale-105 transition duration-200 ease-in"
            >
                <div
                    id="title"
                    class="w-full py-5 border-b border-gray-800 text-gray-700 bg-zinc-900"
                >
                    <h2 class="font-bold text-3xl text-titleName">
                        Suscripción Mensual
                    </h2>
                </div>
                <div id="content" class="">
                    <div id="icon" class="my-5">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-12 w-12 mx-auto fill-stroke text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#ff4a3b"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1"
                                d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                            ></path>
                        </svg>
                        <p class="text-slate-300 text-2xl pt-2">
                            Programación sin límites
                        </p>
                    </div>
                    <div
                        id="contain"
                        class="leading-8 mb-10 text-lg font-light text-slate-400"
                    >
                    
                    <ul class="mx-12 gap-4 py-2 text-md">
                        <li>
                            Nuestros servicios de programación a medida
                            se adaptan a las necesidades específicas de
                            cada cliente, asegurando soluciones que se
                            alinean perfectamente con sus objetivos y
                            requisitos.
                        </li>
                        <details class="pt-4">
                                <summary class="cursor-pointer"> Ver Más</summary>
                                    <li>
                                        Con la suscripción mensual, los clientes
                                        tienen acceso ilimitado a nuestros
                                        servicios de programación,
                                        permitiéndoles solicitar tantas tareas
                                        de programación como necesiten.
                                    </li>
                                    <li>
                                        Ofrecemos soporte continuo a nuestros
                                        suscriptores, asegurando que cualquier
                                        problema o pregunta sea atendida de
                                        manera oportuna.
                                    </li>
                                    <li>
                                        Como parte de la suscripción, también
                                        nos encargamos de las actualizaciones y
                                        el mantenimiento de las soluciones de
                                        programación que proporcionamos.
                                    </li>
                                </ul>
                            
                        </details>
                    </div>
                </div>
            </div>
            <div
                id="planmensual"
                class="rounded-lg text-center overflow-hidden w-full transform shadow-shadowimg hover:shadow-shadowcard hover:scale-105 transition duration-200 ease-in"
            >
                <div
                    id="title"
                    class="w-full py-5 border-b border-gray-800 bg-zinc-900"
                >
                    <h2 class="font-bold text-3xl text-titleName">
                        Proyecto Único
                    </h2>
                </div>
                <div id="content" class="">
                    <div id="icon" class="my-5">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-12 w-12 mx-auto fill-stroke text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#ff4a3b"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1"
                                d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
                            ></path>
                        </svg>
                        <p class="text-slate-300 text-2xl pt-2">
                            Tu socio tecnológico de confianza
                        </p>
                    </div>
                    <div
                        id="contain"
                        class="leading-8 mb-2 text-lg font-light text-slate-400"
                    >
                        <ul class="mx-12 gap-4 py-2 text-md">
                            <li>
                                Programación a medida se adaptan a las
                                necesidades específicas de cada cliente,
                                asegurando soluciones que se alinean
                                perfectamente con sus objetivos y requisitos.
                            </li>
                            <details class="pt-4">
                                <summary class="cursor-pointer"> Ver Más</summary>
                            <li>
                                Cada proyecto se entrega con la promesa de
                                calidad y eficiencia.
                            </li>
                            <li>
                                Incluso después de la entrega del proyecto,
                                ofrecemos soporte para asegurar que todo
                                funcione sin problemas (Manetenimiento
                                adicional).
                            </li>
                            <li>
                                Amplia experiencia y habilidades en diversas
                                tecnologías y lenguajes de programación, lo que
                                me permite ofrecer las mejores soluciones para
                                tus necesidades.
                            </li>
                            <li>
                                Estoy constantemente aprendiendo y adaptándome a
                                las últimas tendencias y tecnologías en
                                programación.
                            </li>
                            </details>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    p {
        font-family: "AlegreyaBold";
    }
    li {
        font-family: "AlegreyaRegular";
        font-size: 1.1em;
    }
    summary {
        font-family: "AlegreyaRegular";
    }
    @font-face {
        font-family: "AlegreyaBold";
        src: url("../public/fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
        display: swap;
    }
    @font-face {
        font-family: "AlegreyaRegular";
        src: url("../public/fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
        display: swap;
    }
</style>
