---

---

<div class="container">
    <h1 class="text-center text-3xl sm:text-4xl xl:text-5xl pb-24 text-nav">
        Alcancemos tus <span class="text-titleName">Metas</span> juntos
    </h1>
    <div
        class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2  gap-24 py-10 w-full"
    >
        <div
            class="relative group h-48 flex flex-col rounded-xl shadow-shadowimg hover:shadow-shadowcard bg-clip-border text-gray-700 w-full"
        >
            <a href="#" class="block">
                <div class="h-28">
                    <div
                        class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 group-hover:top-[-40%] group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-titleName hover:bg-opacity-80 rounded-xl justify-items-center align-middle"
                    >
                        <svg
                            class="w-36 h-36 mt-6 m-auto"
                            xmlns="http://www.w3.org/2000/svg"
                            width="200"
                            height="200"
                            viewBox="0 0 24 24"
                            ><g fill="transparent"
                                ><path
                                    d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"
                                ></path><path
                                    fill="#fff"
                                    d="M19 4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h14Zm0 6H5v7a1 1 0 0 0 .883.993L6 18h12a1 1 0 0 0 .993-.883L19 17v-7ZM6 6a1 1 0 1 0 0 2a1 1 0 0 0 0-2Zm3 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2Zm3 0a1 1 0 1 0 0 2a1 1 0 0 0 0-2Z"
                                ></path></g
                            >
                        </svg>
                    </div>
                </div>
                <div class="p-6 z-10 w-full">
                    <p
                        class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-widest antialiased text-white"
                    >
                        Desarrollo Web
                    </p>
                </div>
            </a>
        </div>

        <div
            class="relative group h-48 flex flex-col rounded-xl shadow-shadowimg hover:shadow-shadowcard bg-clip-border text-gray-700"
        >
            <a href="#" class="block">
                <div class="h-28">
                    <div
                        class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 group-hover:top-[-40%] group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-titleName hover:bg-opacity-80 rounded-xl justify-items-center align-middle"
                    >
                        <svg
                            class="w-32 h-32 mt-6 m-auto"
                            xmlns="http://www.w3.org/2000/svg"
                            width="200"
                            height="200"
                            viewBox="0 0 24 24"
                            ><path
                                fill="transparent"
                                stroke="#fff"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M18 19V5a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9 6.001V6m3 .001V6m3 .001V6M9 9.001V9m3 .001V9m3 .001V9m-6 3.001V12m3 .001V12m0 6.001V18"
                            ></path></svg
                        >
                    </div>
                </div>
                <div class="p-6 z-10 w-full">
                    <p
                        class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-widest antialiased text-white"
                    >
                        Desarrollo Apps
                    </p>
                </div>
            </a>
        </div>
        <div
            class="relative group h-48 flex flex-col rounded-xl shadow-shadowimg hover:shadow-shadowcard bg-clip-border text-gray-700"
        >
            <a href="#" class="block">
                <div class="h-28">
                    <div
                        class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 group-hover:top-[-40%] group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-titleName hover:bg-opacity-80 rounded-xl justify-items-center align-middle"
                    >
                        <svg
                            class="w-36 h-36 mt-6 m-auto"
                            xmlns="http://www.w3.org/2000/svg"
                            width="200"
                            height="200"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#fff"
                                d="M5 21q-.825 0-1.413-.588T3 19V6.5q0-.35.113-.663t.337-.587l1.4-1.7q.225-.275.513-.413T6 3h12q.35 0 .638.138t.512.412l1.4 1.7q.225.275.338.588T21 6.5V19q0 .825-.588 1.413T19 21H5Zm.4-15h13.2l-.85-1H6.25L5.4 6ZM5 19h14V8H5v11Zm9.55-1.95l3.55-3.55l-3.55-3.55l-1.45 1.45l2.1 2.1l-2.1 2.1l1.45 1.45Zm-5.05 0l1.45-1.45l-2.1-2.1l2.1-2.1L9.5 9.95L5.95 13.5l3.55 3.55ZM5 19V8v11Z"
                            ></path></svg
                        >
                    </div>
                </div>
                <div class="p-6 z-10 w-full">
                    <p
                        class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-widest antialiased text-white"
                    >
                        Desarrollo Software
                    </p>
                </div>
            </a>
        </div>
        <div
            class="relative group h-48 flex flex-col rounded-xl shadow-shadowimg hover:shadow-shadowcard bg-clip-border text-gray-700"
        >
            <a href="#" class="block">
                <div class="h-28">
                    <div
                        class="absolute -top-20 lg:top-[-10%] left-[5%] z-40 group-hover:top-[-40%] group-hover:opacity-[0.9] duration-300 w-[90%] h-48 bg-titleName hover:bg-opacity-80 rounded-xl justify-items-center align-middle"
                    >
                        <svg
                            class="w-32 h-32 mt-6 m-auto"
                            xmlns="http://www.w3.org/2000/svg"
                            width="200"
                            height="200"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#fff"
                                d="M12 8L9 9.75v3.5L12 15l3-1.75v-3.5Zm1.517 2.04l-1.53.892l-1.517-.885L12 9.155Zm-3.527.882l1.484.866v1.75l-1.484-.865Zm2.474 2.653v-1.767l1.546-.902v1.767ZM3 0L0 1.75v3.5L3 7l3-1.75v-3.5Zm1.517 2.04l-1.53.892l-1.517-.885L3 1.155ZM.99 2.921l1.484.866v1.75L.99 4.674Zm2.474 2.653V3.808l1.546-.902v1.767ZM3 17l-3 1.75v3.5L3 24l3-1.75v-3.5Zm1.517 2.04l-1.53.892l-1.517-.885L3 18.155Zm-3.527.882l1.484.866v1.75L.99 21.674Zm2.474 2.653v-1.767l1.546-.902v1.767ZM21 0l-3 1.75v3.5L21 7l3-1.75v-3.5Zm1.517 2.04l-1.53.892l-1.517-.885L21 1.155Zm-3.527.882l1.484.866v1.75l-1.484-.865Zm2.474 2.653V3.808l1.546-.902v1.767ZM21 17l-3 1.75v3.5L21 24l3-1.75v-3.5Zm1.517 2.04l-1.53.892l-1.517-.885l1.53-.892Zm-3.527.882l1.484.866v1.75l-1.484-.865Zm2.474 2.653v-1.767l1.546-.902v1.767ZM9 3h6v1H9zm0 17h6v1H9zM3.5 9v6h-1V9zm3.793-.172L5.172 6.707L5.879 6L8 8.12zM16 8.293l2.121-2.121l.707.707L16.707 9zm-7.872 6.586L6.007 17l-.707-.707l2.121-2.121zm8.751-.75L19 16.25l-.707.707l-2.121-2.121zM21.5 9v6h-1V9z"
                            ></path></svg
                        >
                    </div>
                </div>
                <div class="p-6 z-10 w-full">
                    <p
                        class="mb-2 inline-block text-tg text-center w-full text-xl font-sans font-semibold leading-snug tracking-widest antialiased text-white"
                    >
                        Desarrollo Blockchain
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
    p {
        font-family: "AlegreyaSemiBold", sans-serif, serif;
    }

    h1 {
        font-family: "LeagueSpartan", sans-serif, serif;
    }
    @font-face {
        font-family: "AlegreyaSemiBold";
        src: url("/fonts/Alegreya/Alegreya-SemiBold.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "LeagueSpartan";
        src: url("/fonts/LeagueSpartan/LeagueSpartan-Bold.otf")
            format("opentype");
        font-display: swap;
    }
</style>
