---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Desarrollador Freelance en Valencia.Alcancemos tus metas juntos!🚀 En el mundo tecnológico actual, tus metas merecen destacar en el entorno digital. ¿Imaginas una aplicación móvil increíble o un sitio web que marque la diferencia?"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/icon" href="/img/Webp/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family: "LeagueSpartan", system-ui, sans-serif;
		background: #212428;
		background-size: 224px;
	}
	@font-face {
		font-family: "LeagueSpartan";
		src: url("/fonts/LeagueSpartan/LeagueSpartan-Bold.otf")
			format("opentype");
		font-display: swap;
	}
</style>
