---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Desarrollador Freelance en Valencia. Alcancemos tus metas juntos En el mundo tecnol贸gico actual, tus metas merecen destacar en el entorno digital. 驴Imaginas una aplicaci贸n m贸vil incre铆ble o un sitio web que marque la diferencia?"
		/>
		<meta name="keywords" content="Desarrollador, Freelance, Valencia" />
		<meta name="og:type" content="website" />
		<meta name="og:title" content="Pau Ortega | Desarrollador Freelance en Valencia" />
		<meta
			name="og:description"
			content="Desarrollador Freelance en Valencia. Alcancemos tus metas juntos En el mundo tecnol贸gico actual, tus metas merecen destacar en el entorno digital. 驴Imaginas una aplicaci贸n m贸vil incre铆ble o un sitio web que marque la diferencia?"
		/>
		<meta name="og:url" content="https://pauortegarcia.dev" />
		<meta name="og:image" content="../public/img/Webp/Header-Logo.webp" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/icon" href="../public/img/Webp/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="home">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html, h1 {
		font-family: "LeagueSpartan", system-ui, sans-serif;
		background: #212428;
		background-size: 224px;
	}
	
	h3 {
        font-family: "AlegreyaRegular", sans-serif, serif;
    }
	@font-face {
		font-family: "LeagueSpartan";
		src: url("/fonts/LeagueSpartan/LeagueSpartan-Bold.otf")
			format("opentype");
		font-display: swap;
	}
	
    @font-face {
        font-family: "AlegreyaRegular";
        src: url("/fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
        font-display: swap;
    }

	.animate-gradient {
	  background-image: linear-gradient(
		to right,
		theme(colors.gray.500),
		theme(colors.titleName)
		theme(colors.gray.300),
		theme(colors.titleName),
		theme(colors.gray.500)
		theme(colors.titleName),
		
	  );
	  background-size: 200% auto;
	  animation: gradient 6s linear infinite;
	}
	
	@keyframes gradient {
	  0% {
		background-position: 0% 50%;
	  }
	  100% {
		background-position: 200% 50%;
	  }
	}
</style>
